@model IEnumerable<CRMSystem.Models.User>
@{
    ViewData["Title"] = "Index";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">User List </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="UserReportDownload" asp-controller="Reports" class="btn btn-primary">Download User Report</a>

            @*<a asp-controller="Reports" asp-action="UserReportDownload" class="btn btn-primary">*@
              @*  <i class="accordion-button"></i> &nbsp; Download*@
            </a>
        </div>
    </div>
    <br /><br /><br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th> Email Id </th>
                <th> Username </th>
                <th> Mobile Number </th>
                <th> Designation </th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="50%">
                        @obj.Email
                    </td>
                    <td width="30%">
                        @obj.UserName
                    </td>
                    <td width="50%">
                        @obj.Mobile
                    </td>
                    <td width="30%">
                        @obj.Designation
                    </td>
                    
                </tr>

            }
        </tbody>
    </table>
</div>